/* Añade estos estilos personalizados al final de tu archivo style.css */

/* Estilo para los contenedores de Bootstrap */
.container {
     max-width: 1140px;
}

/* Estilos para el cuerpo del documento */
body {
     font-family: 'Roboto', sans-serif;
     margin: 0;
     padding: 0;
}

/* Estilos adicionales para la barra de navegación */
.navbar {
     background-color: #001f3f;
     /* Azul oscuro */
     position: sticky;
     top: 0;
     z-index: 1000;
}

.navbar-light .navbar-toggler-icon {
     background-color: #fff;
     /* Color del ícono de hamburguesa */
}

.navbar-light .navbar-toggler {
     border-color: #fff;
     /* Color del borde del botón de hamburguesa */
}

/* Estilos adicionales para la sección Hero y "Sobre Mí" */
.hero-section {
     background-color: #f8f9fa;
     /* Color de fondo para la sección Hero */
     padding: 100px 0;
}

/* Estilos adicionales para las tarjetas de la sección de Experiencia */
.card {
     background-color: #fff;
     /* Color de fondo de las tarjetas */
     border: 1px solid #ddd;
     /* Borde de las tarjetas */
     border-radius: 10px;
     /* Bordes redondeados */
     margin-bottom: 20px;
     /* Margen inferior entre tarjetas */
}

.card .btn {
     margin-top: 10px;
     /* Margen superior para separar los botones */
}

/* Estilos adicionales para la sección de Proyectos */
.projects-section {
     padding: 50px 0;
}

/* Estilos adicionales para las tarjetas de la sección de Proyectos */
.projects-section .card {
     border-radius: 10px;
     overflow: hidden;
}

/* Estilos adicionales para los enlaces de la sección de Artículos */
#articles a {
     color: #001f3f;
     /* Color de enlaces */
}

/* Estilos adicionales para la sección de Testimonios */
#testimonials {
     background-color: #f8f9fa;
     /* Color de fondo para la sección de Testimonios */
     padding: 50px 0;
}

/* Estilos adicionales para el carrusel de la sección de Testimonios */
#testimonials .carousel-item p {
     font-size: 18px;
     /* Tamaño de fuente para los testimonios */
}

/* Estilos adicionales para la sección de Contacto */
#contact {
     padding: 50px 0;
}

/* Estilos adicionales para los íconos de redes sociales en la sección de Contacto */
#contact i {
     color: #001f3f;
     /* Color de los íconos de redes sociales */
}

/* Estilo adicional para las imágenes */
.img-fluid {
     max-width: 100%;
     height: auto;
     max-height: 500px;
}